<ion-content scroll="false">
  <app-header></app-header>
  <ion-item-group>
    <ion-item lines="none">
      <ion-icon class="icon-color" slot="start" name="copy-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>Move value from one policy to another</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label class="indent-label">Pay with Policy Value</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label class="indent-label">Standing Instructions</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item lines="none">
      <ion-icon class="icon-color" slot="start" name="exit-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>Cash out your policy values</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label class="indent-label">Value withdrawal</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label class="indent-label">Payout method</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item lines="none">
      <ion-icon class="icon-color" slot="start" name="layers-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>Take a loan against policy value</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label class="indent-label">Loans</ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item lines="none">
      <ion-icon class="icon-color" slot="start" name="options-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>Payment options for your premiums</h3>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      <ion-label class="indent-label">Premium Payment Method</ion-label>
    </ion-item>
  </ion-item-group>


  <ion-icon class="to-top" name="chevron-up-outline" (click)="ScrollToTop()"></ion-icon>


</ion-content>